@using Sandbox;
@using Sandbox.UI;
@using System;
@attribute [StyleSheet]
@inherits Panel

<root>


			@if ( GetBudgetLeft() != -1 )
            {
                <div class="text" style="background-color:@(HUD.GetColor().Hex)">Budget</div>

                <div class="number"> $ @(GetBudgetLeft())</div>
            }

</root>

@code
{
    protected override int BuildHash()
    {
        var gs = GameSystem.Instance;

        return System.HashCode.Combine(GetBudgetLeft(), gs.State);
    }

    private int GetBudgetLeft()
    {
        var gs = GameSystem.Instance;
        var player = FWPlayerController.Local;

        var localTeam = player.TeamComponent;

        if (!gs.IsValid() || !player.IsValid())
            return -1;

        if (gs.State != GameSystem.GameState.BuildMode && gs.State != GameSystem.GameState.OvertimeBuild)
            return -1;

        return gs.GetBudgetForTeam(localTeam.Team);
    }
}
