@using Sandbox;
@using Sandbox.UI;
@using System;
@attribute [StyleSheet]
@inherits Panel

<root>


			@if ( GetBudgetLeft() != -1 )
            {
                <div class="text" style="background-color:@(HUD.GetColor().Hex)">Budget</div>

                <div class="number"> $ @(GetBudgetLeft())</div>
            }

</root>

@code
{
    protected override int BuildHash()
    {
        var gs = GameSystem.Instance;

        return System.HashCode.Combine( gs?.MaxProps, gs?.RedProps?.Count(), gs?.BlueProps?.Count(), gs?.GreenProps?.Count(), gs?.YellowProps?.Count(), gs?.State );
    }

    private int GetBudgetLeft()
    {
        var gs = GameSystem.Instance;
        var player = FWPlayerController.Local;

        var localTeam = player.TeamComponent;

        if (!gs.IsValid() || !player.IsValid())
            return -1;

        if (gs.State != GameSystem.GameState.BuildMode && gs.State != GameSystem.GameState.OvertimeBuild)
            return -1;

        switch (localTeam.Team)
        {
            case Team.Red:

                return gs.MaxProps - gs.RedProps.Count();
                break;
            case Team.Blue:
                return gs.MaxProps - gs.BlueProps.Count();
                break;
            case Team.Green:
                return gs.MaxProps - gs.GreenProps.Count();
                break;
            case Team.Yellow:
                return gs.MaxProps - gs.YellowProps.Count();
                break;
        }

        return -1;
    }
}
