@using Sandbox;
@using Sandbox.UI;
@using System;
@attribute [StyleSheet]
@inherits Panel

<root>
	@{
		var gs = GameSystem.Instance;
		var player = FWPlayerController.Local;

		if (!gs.IsValid() || !player.IsValid() || (!gs?.CurrentGameModeComponent.IsValid() ?? false) ||
		(!gs.CurrentGameModeComponent?.CurrentRound.IsValid() ?? false))
			return;
	}

	@if (gs.CurrentGameModeComponent.IsValid() && gs.CurrentGameModeComponent.CurrentRound.IsValid() &&
			gs.CurrentGameModeComponent.CurrentRound.Name == "Build Mode" || gs.CurrentGameModeComponent.CurrentRound.Name ==
			"Overtime Build Mode")
	{
		var localTeam = player.TeamComponent;

		if (!localTeam.IsValid())
			return;

		<div class="text" style="background-color: @(HUD.GetColor( localTeam.Team ).Hex);">Props Left</div>
		<div class="number">@(gs.MaxProps - gs.RedProps.Count())</div>
	}

</root>

@code
{
	protected override int BuildHash()
	{
		var gs = GameSystem.Instance;

		return System.HashCode.Combine(gs?.MaxProps, gs?.RedProps?.Count(), gs?.BlueProps?.Count(), gs?.GreenProps?.Count(),
		gs?.YellowProps?.Count(), gs?.CurrentGameModeComponent?.CurrentRound?.Name,
		FWPlayerController.Local?.TeamComponent?.Team);
	}
}
