@import "/UI/HUD/HUD.razor.scss";

MaxProps {
    width: 15%;
    align-items: center;
    font-size: 28px;
    height: 5%;
    position:absolute;
    left: 5%;
    top:15%;

    .text {
        padding: 4px 32px;
        border-radius: 4 0 0 4;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        background-color: $primary;
        width: 60%;
        height: 100%;
        flex-shrink: 0;

        &.red {
            background-color: #C62E2E;
        }

        &.green {
            background-color: #00ff00;
        }

        &.blue {
            background-color: #0D92F4;
        }

        &.yellow {
            background-color: #ffff00;
        }
    }

    .number {
        width: 40%;
        padding: 4px 12px;
        border-radius: 0 4 4 0;
        font-size: 30px;
        font-weight: bold;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        flex-shrink: 0;
        background-color: $primary;
        transition: background-color 0.1s ease-out;

        &.hit {
            background-color: rgb(90, 2, 2);
        }
    }
}