@import "/UI/HUD/HUD.razor.scss";

PropGunUI {
    position: absolute;
    bottom: 0%;
    right: 40%;
    left: 40%;
    width: 25%;


    .holder {
        width:100%;
        height:100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $primary;
        font-size: 28px;
        border-radius: 4px 4px 0px 0px;
        padding: 9px;
    }

    .text {
        gap: 5px;
    }
}