@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
    @foreach(var marker in GetAllNavMarkers()) {
        <div class="marker"></div>
    }
	
</root>

@code
{

	[Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";

    public List<NavMarker> GetAllNavMarkers() {
        return Scene.GetAllComponents<NavMarker>().ToList();
    }

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( MyStringValue );
}
