@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
    @foreach(var marker in GetAllNavMarkers()) {
        var pos = Scene.Camera.PointToScreenNormal(marker.WorldPosition, out bool behind);
        if (behind) continue;
        pos *= 100.0f;

        <div class="marker" style="left: @(pos.x)%; top: @(pos.y)%;"></div>
    }
	
</root>

@code
{
    public List<NavMarker> GetAllNavMarkers() {
        return Scene.GetAllComponents<NavMarker>().ToList();
    }

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( GetAllNavMarkers() );
}
