@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@if ( !IsProxy )
		return;
	
	<div class="title" style="color: @TextColor.Hex">@Network.Owner.DisplayName</div>
	<img src=@GetAvatarTexture( Network.Owner )/>
</root>

@code
{
	[Sync] public Color TextColor { get; set; } = Color.White;

	[Rpc.Broadcast]
	public void SetTeam( Team team )
	{
		switch ( team )
		{
			case Team.Red:
				TextColor = Color.Red;
				break;
			case Team.Blue:
				TextColor = Color.Cyan;
				break;
			case Team.Green:
				TextColor = Color.Green;
				break;
			case Team.Yellow:
				TextColor = Color.Yellow;
				break;
			case Team.None:
				TextColor = Color.White;
				break;
		}
	}

	public string GetAvatarTexture( Connection connection )
	{
		return $"avatar:{connection?.SteamId}";
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Network.Owner?.DisplayName, TextColor.Hex );
}
