@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet]

<root>
    @{
        if (weapon == null || weapon.UsesAmmo == false)
            return;
    }
    <div class="holder" style="background-color: @HUD.GetColor().Hex;">
    <label>@(weapon.Ammo)</label>
    <label> / @(weapon.MaxAmmo)</label>
    </div>
</root>
