@import "/UI/HUD/HUD.razor.scss";

AmmoPanel {
    font-size: 40px;
    width: 80%;
    height: 5%;
    filter: drop-shadow( 0 0 10px rgba( black, 0.7 ) );


    .holder {
        justify-content: center;
        align-items: center;
        background-color: $primary;
        padding: 4px 32px;
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
}