$primary: #1a1a1a;
$secondary: #242424;
$tertiary: #fdc418;

$button-primary: #ffffff !default;
$button-primary-fg: #ffffff !default;
$button-secondary: #282828 !default;
$button-secondary-fg: #dadada !default;
$button-size: 45px;

@import "/UI/HUD/HUD.razor.scss";

PauseMenu
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: hsl(0, 0%, 5%, 0.9);
	justify-content: center;
	align-items: center;
	font-weight: bold;
    flex-direction: column;
    pointer-events: all;

    transition: opacity 0.2s;

    z-index: 1000;

	.title
    {
        height: 200px;
        align-items: center;
        justify-content: center;

        font-family: Poppins;
        color: white;
        gap: 16px;
        font-size: 72px;
    }

    .buttons
    {
        height: 100%;
        width: 500px;
        align-items: center;
        justify-content: center;

        color: white;
        font-family: Poppins;

        flex-direction: column;

        gap: 12px;
    }
}