@using Sandbox;
@using Sandbox.UI;
@using System.Threading.Tasks;
@using System;
@inherits Panel
@attribute [StyleSheet]

<root>
	@{
		var local = FWPlayerController.Local;
		var gs = GameSystem.Instance;

		if ( !local.IsValid() || !gs.IsValid() )
			return;
	}

	<div class="models">
		@if (  AllProps is null )
			return;

		@if ( AllProps.Count() == 0 && !FirstTime )
		{
			<div class="empty">
				No models found
			</div>
		}
		else if ( AllProps.Count() == 0 && FirstTime )
		{
			<div class="empty">
				Loading models...
			</div>
		}
		else
		{
            foreach( var prop in AllProps)
            {
                <button class="model" style="background-image: url(@prop?.Icon);" onclick=@( () =>
				{
					SetProp(prop);
					Delete();
				} )>
                @(prop.DisplayName)
                </button>
            }
        }
	</div>
</root>

@code
{
    public Propgun Propgun { get; set; }

    public Package.FindResult Packages { get; set; }

    public List<Package> Models { get; set; } = new();

    public bool FirstTime { get; set; } = true;

    TextEntry Search;

    private List<PropResource> AllProps {get; set; }


    protected override void OnAfterTreeRender( bool firstTime )
    {
        base.OnAfterTreeRender( firstTime );

        if ( !firstTime )
            return;

        AllProps = ResourceLibrary.GetAll<PropResource>().ToList();
    }


    public void SetProp(PropResource prop)
    {

        Propgun.CurrentProp = prop;
    }

	protected override int BuildHash()
	{
		return System.HashCode.Combine( Models?.Count() );
	}
}
