
@import "/UI/HUD/HUD.razor.scss";

SpawnerMenu
{
    background-color: $primary;
    flex-direction: column;

    pointer-events: all;
    border-radius: $border-radius;

    position: relative;

    width: 850px;
    height: 500px;
    padding: 6px;

    >.title
    {
        width: 100%;
        height: 50px;
        font-size: 42px;
        background-color: $secondary;
    }

    >.models
    {
        width: 100%;
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 6px;
        justify-content: flex-start;
        align-items: center;

        overflow-x: hidden;
        overflow-y: scroll;

        >button
        {
            width: 200px;
            height: 200px;
            flex-grow: 1;
            flex-shrink: 1;

            >img
            {
                width: 95%;
                height: 95%;
            }

            &:last-child
            {
                flex-grow: 0;
                flex-shrink: 0;
            }
        }
    }
}