@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet]

<root>
    <button onclick=@(() => this.Close()) class="close-btn">Exit</button>

    <label>Crosshair</label>

    

    <button onclick=@(() => Game.Overlay.ShowSettingsModal())>S&box Settings</button>
    
</root>
