@import "/UI/HUD/HUD.razor.scss";

Timer {
    position: absolute;
    top: 2%;
    font-size: 20px;
    font-weight: bold;
    width: 500px;
    height: 90px;
    border-radius: $border-radius;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow( 0 0 10px rgba( black, 0.7 ) );

    .status {
        width: 75%;
        padding: 16px;
        height: 50%;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        border-radius: 4 4 0 0;
        transition: width 0.1s ease-out;
        background-color: $primary;
        //@ScoutWozniak feel free to remove this
        text-shadow: 2px 2px 4px black;
    }

    .time {
        width: 75%;
        height: 50%;
        align-items: center;
        justify-content: center;
        background-color: $primary;
        flex-shrink: 0;
        border-radius: 0 0 4 4;
        transition: width 0.1s ease-out;
        font-size: 24px;

        .text {
            position: absolute;
            //@ScoutWozniak feel free to remove this
            text-shadow: 2px 2px 4px black;
        }

        .fill-holder {
            position: relative;
            height: 100%;
            width: 100%;
            justify-content: center;
        }

        .fill {
            position: relative;
            height: 100%;
            width: 100%;
            background-color: $primary;
            border-radius: 4 4 4 4;
        }
    }
}