@using Sandbox;
@using Sandbox.UI;
@using System.Threading.Tasks;
@using System;
@inherits Panel
@attribute [StyleSheet]

<root>
	@{
        var gs = GameSystem.Instance;
        var round = GameMode.ActiveRound;

		if (!gs.IsValid() || !round.IsValid())
			return;
	}

	<div class="status">@GetStateText()</div>
	<div class="time">

		<div class="text">@FormatedTimer()</div>
	</div>
</root>

@code
{
    public string GetStateText()
    {
        var gs = GameSystem.Instance;

        return gs.CurrentGameModeComponent?.CurrentRound?.Name;
    }

    public float GetTime()
    {
        var gs = Scene.GetAll<GameSystem>().FirstOrDefault();
        var round = GameMode.ActiveRound;

        if (round.IsValid())
        {
            //TODO: Fix this
            var remainingTime = round.RoundTimer;
			return remainingTime;
		}

		return 0;
	}

	public string FormatedTimer()
	{
		return $"{TimeSpan.FromSeconds(GetTime()):mm\\:ss}";
	}

	protected override int BuildHash()
	{
		return System.HashCode.Combine(GetTime());
	}
}
